
@font-face {
 font-family: poppins;
 src: url(./font/Poppins-BlackItalic.ttf);
}



/* Css Reset */
body{
 margin: 0px;
 padding: 0px;
 border: border-box;
 background: url("./img/8GLdHU.webp");
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
 font-family: 'poppins';


}

.left{
 display: inline-block;
/* border: 2px solid red; */
position: absolute;
left: 34px;
top: 20px;
}

.left img{
 width: 136px;
 filter: invert(100%);
 
}
.left div{
 text-align: center;
 font-style: italic;
 font-weight: 600;
 color: white;
 margin-bottom: 10px;
 line-height: 0px;
}

.mid{
 /* border: 2px solid green; */
 display: block;
 width: 47%;
 margin: 13px auto;
 
 


}

.right{
 display: inline-block;
 /* border: 2px solid yellow; */
 position: absolute;
 right: 34px;
 top: 20px;

}


.navbar{
 display: inline-block;

}

.navbar li {
 display: inline-block;
 font-size: 20px;
 font-weight: 600;
 font-style:italic;
}


.navbar>li>a{
 color: white;
text-decoration: none;
list-style: none;
padding: 34px 15px;
}


.navbar>li>a:hover,.active>li>a.active{
 text-decoration: underline;
 color: gray;
}

.btn{
 margin: 0px 9px;
 color: white;
 padding: 4px 14px;
 background-color: black;
 border: 2px solid gray;
 border-radius: 9px;
 font-size: 15px;
 cursor: pointer;
 margin-right: 5px;
 
}

.btn:hover{
 background-color: rgb(117, 108, 108);
 
}


.container{
 border: 2px solid white;
 margin: 106px 80px;
 padding: 75px;
 width: 36%;
 border-radius: 28px;
 color: white;
}

.form_group input{
 width:400px   ;
 padding: 6px;
 text-align: center;
 display: block;
 border: 2px solid black;
 margin: 3px auto;
 border-radius: 8px;
 /* font-weight: 700; */
 font-weight: bolder;

 

}

.container button{
 display: block;
 width: 87%;
margin:20px  auto;
}